{% extends "base.html" %}
{% load static %}

{% block meta %}
{{ block.super }}
<meta name="description" content="Luddesdowne is a friendly cricket club based in the North Kent countryside. Playing in the Kent Village League with a picturesque home ground, it is a wonderful place to play cricket.">
{% endblock %}

{% block title %}Luddesdowne CC{% endblock %}

{% block corecss %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
<link rel="preload" fetchpriority="high" as="image" href="{{ MEDIA_URL }}luddesdowne-ground.png" type="image/png">
{% endblock %}

{% block content %}

<main class="container-fluid g-0">
    <div id="hero-row" class="row g-0" style="position: relative;" >
        <div class="hero-img"></div>
        <div class="title-div">
            <h1>Luddesdowne Cricket Club</h1>
            <a href="#fixtures-row" class="secondary-btn">See Fixtures</a>
        </div>
    </div>
    <div class="container">
        <div id="intro-row" class="row home-row white">
            <div class="col-xs-12 col-md-6">
                <h2>A Little About Us</h2>
                <p>We are a small, friendly bunch of players. Luddesdowne is a very special place and we think the club is too! We play our cricket in the traditional way and try to uphold the best values of the game. The Rectory Cricket Ground is the home of Luddesdowne Cricket Club and is without a doubt one of the most rural and picturesque grounds in England.</p>
                <p>2022 was the club's 75th aniversary from formation! We are extremely proud of our heritage and look forward to adding to our history this year.</p>
                <a href="#events-row"><div class="primary-btn" style="margin-top: 2rem;">See Events</div></a>
            </div>
            <div class="col-xs-12 col-md-6 align-self-center about-logo-div" style="text-align: center;">
                <img src="{{ MEDIA_URL }}75th-logo.png" alt="Luddes Logo" style="height: 350px;" >
            </div>
        </div>
    </div>
    <div class="container-fluid dark">
        <div class="container ">
            <div id="fixtures-row" class="row home-row">
                <div class="col-xs-12">
                    <h2>Upcoming Fixtures</h2>
                </div>
                <div class="col-xs-12 col-md-4 fixture-container" style="text-align: center;">
                    <h3>1st XI</h3>
                    {% for fixture in fixturesFirst %}
                        {% if fixture.home_club_id.team_badge %}<img src="{{fixture.home_club_id.team_badge}}" alt="Home Team Logo" class="fixture-logo" >{% else %}<img src="{{ MEDIA_URL }}cricketball.svg" alt="Cricket Ball" class="fixture-logo" >{% endif %}<span>V</span>{% if fixture.away_club_id.team_badge %}<img src="{{fixture.away_club_id.team_badge}}" alt="Away Team Logo" class="fixture-logo" >{% else %}<img src="{{ MEDIA_URL }}cricketball.svg" alt="Cricket Ball" class="fixture-logo" >{% endif %}
                        <div class="fixture-teams">
                            <p>{{fixture.home_club_id}} Vs {{fixture.away_club_id}}</p>
                        </div>
                        <div class="fixture-break"></div>
                        <p>{{fixture.match_date}}, {{fixture.match_time}}</p>
                        <a href="https://luddesdowne.play-cricket.com/grounds/{{ fixture.ground_id }}" target="_blank">{{ fixture.ground_name }}</a>
                        <p>{{ fixture.competition_type }}</p>
                    {% empty %}
                        <img src="{{ MEDIA_URL }}cricketball.svg" alt="Cricket Ball" class="fixture-logo" >
                        <p>No fixtures for this team are currently organised, check back soon for updated fixtures</p>
                    {% endfor %}
                </div>
                <div class="col-xs-12 d-md-none fixture-blur" ></div>
                <div class="col-xs-12 col-md-4 fixture-container" style="text-align: center;">
                    <h3>2nd XI</h3>
                    {% for fixture in fixturesSecond %}
                        {% if fixture.home_club_id.team_badge %}<img src="{{fixture.home_club_id.team_badge}}" alt="Home Team Logo" class="fixture-logo" >{% else %}<img src="{{ MEDIA_URL }}cricketball.svg" alt="Cricket Ball" class="fixture-logo" >{% endif %}<span>V</span>{% if fixture.away_club_id.team_badge %}<img src="{{fixture.away_club_id.team_badge}}" alt="Away Team Logo" class="fixture-logo" >{% else %}<img src="{{ MEDIA_URL }}cricketball.svg" alt="Cricket Ball" class="fixture-logo" >{% endif %}
                        <div class="fixture-teams">   
                            <p>{{fixture.home_club_id}} Vs {{fixture.away_club_id}}</p>
                        </div>
                        <div class="fixture-break"></div>
                        <p>{{fixture.match_date}}, {{fixture.match_time}}</p>
                        <a href="https://luddesdowne.play-cricket.com/grounds/{{ fixture.ground_id }}" target="_blank">{{ fixture.ground_name }}</a>
                        <p>{{ fixture.competition_type }}</p>
                    {% empty %}
                        <img src="{{ MEDIA_URL }}cricketball.svg" alt="Cricket Ball" class="fixture-logo" >
                        <p>No fixtures for this team are currently organised, check back soon for updated fixtures</p>
                    {% endfor %}
                </div>
                <div class="col-xs-12 d-md-none fixture-blur" ></div>
                <div class="col-xs-12 col-md-4 fixture-container" style="text-align: center;">
                    <h3>Ladies</h3>
                    {% for fixture in fixturesLadies %}
                        {% if fixture.home_club_id.team_badge %}<img src="{{fixture.home_club_id.team_badge}}" alt="Home Team Logo" class="fixture-logo" >{% else %}<img src="{{ MEDIA_URL }}cricketball.svg" alt="Cricket Ball" class="fixture-logo" >{% endif %}<span>V</span>{% if fixture.away_club_id.team_badge %}<img src="{{fixture.away_club_id.team_badge}}" alt="Away Team Logo" class="fixture-logo" >{% else %}<img src="{{ MEDIA_URL }}cricketball.svg" alt="Cricket Ball" class="fixture-logo" >{% endif %}
                        <div class="fixture-teams">
                            <p>{{fixture.home_club_id}} Vs {{fixture.away_club_id}}</p>
                        </div>
                        <div class="fixture-break"></div>
                        <p>{{fixture.match_date}}, {{fixture.match_time}}</p>
                        <a href="https://luddesdowne.play-cricket.com/grounds/{{ fixture.ground_id }}" target="_blank">{{ fixture.ground_name }}</a>
                        <p>{{ fixture.competition_type }}</p>
                    {% empty %}
                        <img src="{{ MEDIA_URL }}cricketball.svg" alt="Cricket Ball" class="fixture-logo" >
                        <p>No fixtures for this team are currently organised, check back soon for updated fixtures</p>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="margin-bottom: 2rem; display: flex;">
                    <div style="margin: 0 auto; display: block;">
                        <a class="primary-btn" href="https://luddesdowne.play-cricket.com/Matches?tab=Fixture" target="_blank" >See all Fixtures</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div class="container">
        <div id="events-row" class="row home-row white">
            <div class="col-xs-12">
                <h2>Upcoming Social Events</h2>
            </div>
            <div class="col-xs-12 {% if event %}event-container{% else %}coming-soon{% endif %}">

            {% for event in events %}
                <div class="card">
                    <img src="{{MEDIA_URL}}{{event.image_location.image_location}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">{{event.name}}</h3>
                        <p class="card-text"><b>Date: </b> {{event.date}} </p>
                        <p class="card-text"><b>Location: </b> {{event.location}}</p>
                        <p class="card-text">{{event.description}}</p>
                    </div>
                </div>
            {% empty %}
                <div style="text-align: center;">
                    <i class="fas fa-4x fa-wrench" style="margin-bottom: 2rem;"></i>
                    <p>Events are coming soon! Check back later.</p>
                </div>
            {% endfor %} 
            </div>
        </div>
   </div>
    <div class="container">
        <div id="sponsor-row" class="row home-row white">
            <div class="col-12">
                <h2>Check out our Sponsors</h2>
            </div>
            <div class="col-xs-12 col-sm-4 align-self-center sponsor-div" >
                <a href="https://stiddard.co.uk/">
                    <img src="{{ MEDIA_URL }}stiddard-logo.png" alt="Stiddard Logo" style="max-width: 100%;">
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 align-self-center sponsor-div" >
                <a href="https://www.cockluddesdowne.com/">
                    <img src="{{ MEDIA_URL }}cock-inn-logo.jpg" alt="The Cock Inn Luddesdowne Logo" style="max-width: 100%;">
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 align-self-center sponsor-div" >
                <a href="http://www.fgsplant.co.uk/">
                    <img src="{{ MEDIA_URL }}FGS-plant-logo.jpg" alt="FGS Plant Logo" style="max-width: 100%;">
                </a>
            </div>
        </div>
    </div>
</main>

{% endblock %}