{% extends "base.html" %}
{% load static %}

{% block meta %}
{{ block.super }}
<title>Luddesdowne CC</title>
{% endblock %}

{% block corecss %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}

<main class="container-fluid g-0">
    <div id="hero-row" class="row g-0" style="position: relative;" >
        <div class="hero-img"></div>
        <!-- <img src="{{ MEDIA_URL }}/luddesdowne-ground.png" alt="Luddesdowne CC ground"> -->
        <div class="title-div">
            <h1>Luddesdowne Cricket Club</h1>
            <a href="#" class="secondary-btn">See Fixtures</a>
        </div>
    </div>
    <div class="container">
        <div id="intro-row" class="row home-row white">
            <div class="col-xs-12 col-md-6">
                <h2>A Little About Us</h2>
                <p>We are a small, friendly bunch of players. Luddesdowne is a very special place and we think the club is too! We play our cricket in the traditional way and try to uphold the best values of the game. The Rectory Cricket Ground is the home of Luddesdowne Cricket Club and is without a doubt one of the most rural and picturesque grounds in England.</p>
                <p>This year is the club's 75th aniversary from formation! We are extremely proud of our heritage and will be celebrating throughout the year with cricketing and commemorative events. Check them out in the upcoming events section.</p>
                <a href="#"><div class="primary-btn" style="margin-top: 2rem;">See Events</div></a>
            </div>
            <div class="col-xs-12 col-md-6 align-self-center about-logo-div" style="text-align: center;">
                <img src="{{ MEDIA_URL }}/75th-logo.png" alt="Luddes Logo" style="height: 350px;" >
            </div>
        </div>
    </div>
    <div class="container-fluid dark">
        <div class="container ">
            <div id="fixtures-row" class="row home-row">
                <div class="col-xs-12">
                    <h2>Upcoming Fixtures</h2>
                </div>
                <div class="col-xs-12 col-md-4 fixture-container" style="text-align: center;">
                    <h3>1st XI</h3>
                    <img src="{{ MEDIA_URL }}/logo.png" alt="Luddes Logo" class="fixture-logo""><span>V</span><img src="{{ MEDIA_URL }}/logo.png" alt="Luddes Logo" class="fixture-logo"">
                    <div class="fixture-teams">
                        <p>Luddesdowne Vs Luddesdowne</p>
                    </div>
                    <div class="fixture-break"></div>
                    <p>Saturday 5th April, 13.30PM</p>
                    <p>Henley Bottom</p>
                    <p>League</p>
                </div>
                <div class="col-xs-12 d-md-none fixture-blur" ></div>
                <div class="col-xs-12 col-md-4 fixture-container" style="text-align: center;">
                    <h3>2nd XI</h3>
                    <img src="{{ MEDIA_URL }}/logo.png" alt="Luddes Logo" class="fixture-logo" ><span>V</span><img src="{{ MEDIA_URL }}/logo.png" alt="Luddes Logo" class="fixture-logo">
                    <div class="fixture-teams">   
                        <p >Luddesdowne Vs Luddesdowne</p>
                    </div>
                    <div class="fixture-break"></div>
                    <p>Saturday 5th April, 13.30PM</p>
                    <p>Henley Bottom</p>
                    <p>League</p>
                </div>
                <div class="col-xs-12 d-md-none fixture-blur" ></div>
                <div class="col-xs-12 col-md-4 fixture-container" style="text-align: center;">
                    <h3>Ladies</h3>
                    <img src="{{ MEDIA_URL }}/logo.png" alt="Luddes Logo" class="fixture-logo"><span>V</span><img src="{{ MEDIA_URL }}/logo.png" alt="Luddes Logo" class="fixture-logo">
                    <div class="fixture-teams">
                        <p>Luddesdowne Vs Luddesdowne</p>
                    </div>
                    <div class="fixture-break"></div>
                    <p>Saturday 5th April, 13.30PM</p>
                    <p>Henley Bottom</p>
                    <p>Softball Tournament</p>
                </div>
            </div>
        </div>
    </div>
   <div class="container">
        <div id="events-row" class="row home-row white">
            <div class="col-xs-12">
                <h2>Upcoming Social Events</h2>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card" style="width: 100%">
                    <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Race Night</h3>
                        <p class="card-text"><b>Date: </b> Friday 13th October </p>
                        <p class="card-text"><b>Location: </b> Luddesdowne Village Hall, Luddesdowne, DA15 3FG</p>
                        <p class="card-text"><b>Description: </b> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt laboriosam et animi fuga nulla cumque non facilis, quia optio veniam, quibusdam illum tenetur quam ad veritatis recusandae ipsam dignissimos nobis.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card" style="width: 100%">
                    <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Race Night</h3>
                        <p class="card-text"><b>Date: </b> Friday 13th October </p>
                        <p class="card-text"><b>Location: </b> Luddesdowne Village Hall, Luddesdowne, DA15 3FG</p>
                        <p class="card-text"><b>Description: </b> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt laboriosam et animi fuga nulla cumque non facilis, quia optio veniam, quibusdam illum tenetur quam ad veritatis recusandae ipsam dignissimos nobis.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card" style="width: 100%">
                    <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Race Night</h3>
                        <p class="card-text"><b>Date: </b> Friday 13th October </p>
                        <p class="card-text"><b>Location: </b> Luddesdowne Village Hall, Luddesdowne, DA15 3FG</p>
                        <p class="card-text"><b>Description: </b> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt laboriosam et animi fuga nulla cumque non facilis, quia optio veniam, quibusdam illum tenetur quam ad veritatis recusandae ipsam dignissimos nobis.</p>
                    </div>
                </div>
            </div>
        </div>
   </div>
    <div class="container">
        <div id="sponsor-row" class="row home-row white">
            <div class="col-12">
                <h2>Check out our Sponsors</h2>
            </div>
            <div class="col-xs-12 col-sm-4 align-self-center sponsor-div" >
                <a href="https://stiddard.co.uk/">
                    <img src="{{ MEDIA_URL }}/stiddard-logo.png" alt="Stiddard Logo" style="max-width: 100%;">
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 align-self-center sponsor-div" >
                <a href="https://www.cockluddesdowne.com/">
                    <img src="{{ MEDIA_URL }}/cock-inn-logo.jpg" alt="The Cock Inn Luddesdowne Logo" style="max-width: 100%;">
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 align-self-center sponsor-div" >
                <a href="http://www.fgsplant.co.uk/">
                    <img src="{{ MEDIA_URL }}/FGS-plant-logo.jpg" alt="FGS Plant Logo" style="max-width: 100%;">
                </a>
            </div>
        </div>
    </div>
</main>

{% endblock %}