{% extends "base.html" %}
{% load static %}

{% block meta %}
{{ block.super }}
<title>Luddesdowne CC</title>
{% endblock %}

{% block corecss %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}

<main class="container-fluid g-0">
    <div id="hero-row" class="row g-0" >
        <h1>Luddesdowne CC</h1>
        <img src="https://picsum.photos/1920/800" alt="Luddesdowne CC ground">
    </div>
    <div class="container">
        <div id="intro-row" class="row home-row white">
            <div class="col-12">
                <h2>A Little About Us</h2>
            </div>
            <div class="col-6">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus debitis aperiam totam assumenda? Aspernatur voluptas, ipsa similique repudiandae possimus soluta eveniet maxime quaerat inventore, molestias ex. Adipisci necessitatibus assumenda quod.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga aliquam mollitia esse natus! Atque voluptate autem quo quaerat placeat repellat fugit quas pariatur! Porro animi excepturi earum maxime quae dignissimos.</p>
            </div>
            <div class="col-6 align-self-center" style="text-align: center;">
                <img src="https://picsum.photos/300/300" alt="Luddes Logo" >
            </div>
        </div>
    </div>
    <div class="container-fluid dark">
        <div class="container ">
            <div id="fixtures-row" class="row home-row ">
                <div class="col">
                    <h2>Upcoming Fixtures</h2>
                </div>
            </div>
        </div>
    </div>
   <div class="container">
        <div id="events-row" class="row home-row white">
            <div class="col">
                <h2>Upcoming Social Events</h2>
            </div>
        </div>
   </div>
    <div class="container">
        <div id="sponsor-row" class="row home-row white">
            <div class="col-12">
                <h2>Check out our Sponsors</h2>
            </div> 
            <div class="col-4 align-self-center">
                <img src="https://picsum.photos/200/200" alt="Sponsor">
            </div>
            <div class="col-4 align-self-center">
                <img src="https://picsum.photos/200/200" alt="Sponsor">
            </div>
            <div class="col-4 align-self-center">
                <img src="https://picsum.photos/200/200" alt="Sponsor">
            </div>
        </div>
    </div>
</main>

{% endblock %}