{% extends "base.html" %}
{% load static %}

{% block meta %}
{{ block.super }}
<title>Luddesdowne CC | Mens Team</title>
{% endblock %}

{% block corecss %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'mens/css/home.css' %}">
{% endblock %}

{% block content %}

<main class="container-fluid g-0">
    <div id="intro-container" class="container">
        <div class="row header-row">
            <div class="col-12">
                <h1>Luddesdowne Mens</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-6 order-lg-2 align-self-center" style="text-align: center;">
                <img src="{{ MEDIA_URL }}luddes-roller.JPG" alt="Luddesdowne Ladies" class="intro-img">
            </div>
            <div class="col-xs-12 col-lg-6 order-lg-1">
                <p>We have two teams competing in the Saturday Kent County Village League within Division 4 and 6a. In addition to league cricket, we also have a Sunday friendly XI. Friendships built throughout the years with local clubs have created longstanding friendly fixtures.</p> 
                <p>In the summer you can usually find us training at our ground on a Thursday night. Men and women are both welcome to play, so please come along if you are interested!</p>
                <p> </p>
                <a href="{% url 'contact' %}"><div class="primary-btn">Contact Us</div></a>
            </div>
            
        </div>
    </div>
    <div class="container-fluid g-0" style="background-color: #226D42; color: white;">
        <div class="container">
            <div class="row info-row">
                <div class="col-xs-12 col-md-4 align-self-center" style="text-align: center;">
                    <div class="portrait-container">
                        <i class="fas fa-5x fa-user-circle"></i>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <h2 style="margin-bottom: 2rem;">A Message from the Skipper</h2>
                    <p><i class="fas fa-2x fa-quote-left" style="vertical-align: super; margin-right: 1.5rem;"></i><i class="fas fa-2x fa-quote-right" style="vertical-align: text-top; margin-left: 1.5rem;" ></i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row info-row" >
            <div class="col-12">
                <h2>Current Award Holders</h2>
                <p>Each year we present awards for outstanding acheivements and contributions from players throughout the season. Check out the current holders!</p>
            </div>
            <div class="col-12 table-responsive-sm">
                <table id="award-table" class="table">
                    <col style="width: 20%;">
                    <col style="width: 40%;">
                    <col style="width: 40%;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Award</th>
                            <th>Holder</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><div class="award-img-container"><i class="fas fa-2x fa-trophy"></i></div></i></td>
                            <td>Player's Player</td>
                            <td>Chris Skilton</td>
                        </tr>
                        <tr>
                            <td><div class="award-img-container"><i class="fas fa-2x fa-trophy"></i></div></i></td>
                            <td>Batting Consistency</td>
                            <td>Chris Skilton</td>
                        </tr>
                        <tr>
                            <td><div class="award-img-container"><i class="fas fa-2x fa-trophy"></i></div></i></td>
                            <td>Batting Performance</td>
                            <td>David Stacey</td>
                        </tr>
                        <tr>
                            <td><div class="award-img-container"><i class="fas fa-2x fa-trophy"></i></div></i></td>
                            <td>Bowling Consistency</td>
                            <td>Ben Gates</td>
                        </tr>
                        <tr>
                            <td><div class="award-img-container"><i class="fas fa-2x fa-trophy"></i></div></i></td>
                            <td>Bowling Perfomance</td>
                            <td>Sam Piddock</td>
                        </tr>
                        <tr>
                            <td><div class="award-img-container"><i class="fas fa-2x fa-trophy"></i></div></i></td>
                            <td>Damien Grieff Award</td>
                            <td>Richard Harris</td>
                        </tr>
                        <tr>
                            <td><div class="award-img-container"><i class="fas fa-2x fa-trophy"></i></div></i></td>
                            <td>Clubman</td>
                            <td>Richard Sherburn</td>
                        </tr>
                        <tr>
                            <td><div class="award-img-container"><i class="fas fa-2x fa-trophy"></i></div></i></td>
                            <td>Fielding</td>
                            <td>Peter Baldwin</td>
                        </tr>
                        <tr>
                            <td><div class="award-img-container"><i class="fas fa-2x fa-trophy"></i></div></i></td>
                            <td>Most Improved</td>
                            <td>Justine Wickman</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}