{% extends "base.html" %}
{% load static %}

{% block meta %}
{{ block.super }}
<meta name="description" content="Home of the Luddesdowne Ladies cricket, if you have interest in playing Ladies Cricket or curious with what we do.">
{% endblock %}

{% block title %}Luddesdowne CC | Ladies Team{% endblock %}

{% block corecss %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'ladies/css/home.css' %}">
{% endblock %}

{% block content %}

<main class="container-fluid g-0">
    <div id="intro-container" class="container">
        <div class="row header-row">
            <div class="col-12">
                <h1>Luddesdowne Ladies</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-6 order-lg-2 align-self-center" style="text-align: center;">
                <img src="{{ MEDIA_URL }}luddes-roller.JPG" alt="Luddesdowne Ladies" class="intro-img">
            </div>
            <div class="col-xs-12 col-lg-6 order-lg-1">
                <p>Luddesdowne Ladies began in 2019 as a group of friends and family keen to start playing cricket. Luddesdowne Ladies has since grown into a close-knit team who's cricket abilities and love for the game continue to grow. </p>
                <p>Softball cricket is the perfect game for those of all abilities with all kit provided! We currently play in the Kent Womens Softball Cricket League and are attending a number of festivals throughout the summer.</p>
                <p>Training is held weekly at our ground, run by our two ECB Level 1 Coaches - Robyn and Matt. We are currently welcoming new players of all abilities, so please get in touch! </p>
                <a href="{% url 'contact' %}"><div class="primary-btn">Contact Us</div></a>
            </div>
            
        </div>
    </div>
    <div class="container-fluid g-0" style="background-color: #226D42; color: white;">
        <div class="container">
            <div class="row info-row">
                <div class="col-xs-12 col-md-4 align-self-center" style="text-align: center;">
                    <div class="portrait-container">
                        <i class="fas fa-5x fa-user-circle"></i>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <h2 style="margin-bottom: 2rem;">A Message from the Skipper</h2>
                    <p><i class="fas fa-2x fa-quote-left" style="vertical-align: super; margin-right: 1.5rem;"></i>Luddesdowne Ladies Softball Cricket team has come a long way since the start. Cricket ability, skill and team spirit have, and continue to, increase. Highlights from the last year include coming third in the Kent Womens Softball Final 2021, as well as, hosting our first softball cricket festival! If you'd like to join our team, we are always looking for new players and would love to hear from you!   <i class="fas fa-2x fa-quote-right" style="vertical-align: text-top; margin-left: 1.5rem;" ></i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row info-row" >
            <div class="col-12">
                <h2>Current Award Holders</h2>
                <p>Each year we present awards for outstanding acheivements and contributions from players throughout the season. Check out the current holders!</p>
            </div>
            <div class="col-12 table-responsive-sm">
                <table id="award-table" class="table">
                    <col style="width: 20%;">
                    <col style="width: 40%;">
                    <col style="width: 40%;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Award</th>
                            <th>Holder</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><div class="award-img-container"><i class="fas fa-2x fa-trophy"></i></div></i></td>
                            <td>Player's Player</td>
                            <td>Ashlee Clarke</td>
                        </tr>
                        <tr>
                            <td><div class="award-img-container"><i class="fas fa-2x fa-trophy"></i></div></i></td>
                            <td>Most Improved</td>
                            <td>Amy Shillabeer</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}