<div class="container">
    <div class="row">
        <div class="col-6">
            <ul>
                <li>
                    <a href="#">Mens Team</a>
                </li>
                <li>
                    <a href="#">Ladies Team</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul>
                <li>
                    <a href="#">Facebook</a>
                </li>
                <li>
                    <a href="#">Instagram</a>
                </li>
                <li>
                    <a href="#">Twitter</a>
                </li>
            </ul>
        </div>
    </div>
</div>