<div class="container-fluid">
    <nav class="navbar navbar-expand-md">
        <a href="#" >
            <img src="https://picsum.photos/100/100" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navCollapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fas fa-2x fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navCollapse"> 
            <ul class="nav-items">
                <li>
                    <a class="nav-link" href="#">Mens Team</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Ladies Team</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>                  
    </nav>
</div>