<div class="container">
    <nav class="navbar navbar-expand-lg">
        <a href="#" >
            <img src="{{ MEDIA_URL }}/logo.png" alt="Luddes Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navCollapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fas fa-2x fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navCollapse"> 
            <ul class="nav-items">
                <li>
                    <a class="nav-link" href="#">Mens Team</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Ladies Team</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>                  
    </nav>
</div>
<div class="container-fluid nav-blur" ></div>
<div class="container-fluid" style="height: 1.5rem;"></div>