{% extends "base.html" %}
{% load static %}

{% block meta %}
{{ block.super }}
<title>Luddesdowne CC | Mens Team</title>
{% endblock %}

{% block corecss %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'socialevent/css/index.css' %}">
{% endblock %}

{% block content %}
<main class="container-fluid g-0">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Events Home</h1>
            </div>
        </div>
        <div class="row">
            <div class="event-form col-xs-12 col-lg-6">
                <form action="/socialevent" method="post">
                    {% csrf_token %}
                    <div class="event-form-content">
                        {% for field in form %}
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {{ field.label_tag }} 
                                {{ field }}
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="primary-btn">Add Event</button>
                </form>  
            </div>   
            <div class="col-xs-12 col-lg-6" style="display: flex; justify-content: center;">
                <div style="align-self: center; padding: 2rem; ">
                    <img id="example-event-img" src="{{ MEDIA_URL }}pick-img.jpg" alt="Example of event image" width="480" height="320" style="border-radius: 5px; max-width: 100%; height: auto;">
                    {% for image in event_image %}
                        <div id="image-{{image.id}}" data-location="{{image.image_location}}" style="display: none;"></div>
                    {% endfor %}
                </div>
            </div>     
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Current Events List</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="event-list">
                    {% for event in events %}
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">{{event.name}}</h3>
                            <p><b>Location:</b> {{event.location}}</p>
                            <p><b>Date:</b> {{event.date}}</p>
                            <p><b>Image:</b> {{event.image_location}}</p>
                            <p>{{ event.description|truncatechars:100 }}</p> 
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'edit_socialevent' event.id %}" class="eventcard-primary-btn">Edit Event</a>
                            <a href="{% url 'delete_socialevent' event.id %}" class="eventcard-warning-btn">Delete Event</a>
                        </div>
                    </div>
                    {% empty %}
                    <p>Currently there are no events scheduled, add an event to see them populated here.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}
{% block postloadjs %}
<script>
    let imageLocation = $('#example-event-img'), selectBox = $('#id_image_location'), mediaLocation = "{{ MEDIA_URL }}";
    selectBox.change(function(){
        var imageID = selectBox.val(), imageHiddenDiv = $('#image-' + imageID);
        if (imageID == ''){
            imageLocation.attr("src", mediaLocation + "pick-img.jpg")
        } else {
            imageLocation.attr("src", mediaLocation + imageHiddenDiv.data('location'))
        }
    })
</script>
{% endblock %}


